<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020261295328-t0oiscambv8cdvlsbtjfbd600h9tklg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020261295328-t0oiscambv8cdvlsbtjfbd600h9tklg7</string>
	<key>API_KEY</key>
	<string>AIzaSyCty8cFYwfEuzUWgIdyMiNiKWrL0QUEoeo</string>
	<key>GCM_SENDER_ID</key>
	<string>1020261295328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahanthesh.ARkitApp</string>
	<key>PROJECT_ID</key>
	<string>archar-65b81</string>
	<key>STORAGE_BUCKET</key>
	<string>archar-65b81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020261295328:ios:0bb28b85fb757bcd</string>
	<key>DATABASE_URL</key>
	<string>https://archar-65b81.firebaseio.com</string>
</dict>
</plist>